<h1 class="m-4">Support Chat</h1>

<div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-4 w-50">
        <div class="card rounded">
            <div class="card-header bg-dark bg-gradient">
                <p class="text-center text-white m-2">Live chat</p>
            </div>
            <div class="card-body">
                <div class="chat-body d-flex flex-row justify-content-start mb-4">
                    <div id="parrafosMensajes" class="overflow-y-auto w-75"></div>
                </div>

                <div class="form-outline">
                    <textarea id="chatBox" class="form-control" rows="4"></textarea>
                    <div class="d-flex flex-row justify-content-between">
                        <label class="form-label mt-2">Type your message</label>
                        <button id="botonChat" type="button" class="btn btn-success text-light text-end mt-2">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>