<h2 class="text-uppercase text-center text-muted m-4">Product Manager</h2>

<div class="container d-flex justify-content-around">
    <div>
        <h2 class="text-uppercase text-center text-muted m-4">Create New Product</h2>
        <form class="card p-4" id="addProductForm">
            <label for="title">Title</label>
            <input type="text" required name="title" id="title">
            <label for="description">Description</label>
            <input type="text" required name="description" id="description">
            <label for="stock">Stock</label>
            <input type="number" required name="stock" id="stock">
            <label for="code">Code</label>
            <input type="text" required name="code" id="code">
            <label for="price">Price</label>
            <input type="number" required name="price" id="price">
            <label for="description">Category</label>
            <input type="text" required name="category" id="category">
            <button class="btn btn-dark mt-3" type="submit">Create Product</button>
        </form><br><br>
    </div>
    <div>
        <h2 class="text-uppercase text-center text-muted m-4">Delete Product</h2>
        <form class="card p-4" id="deleteProductForm">
            <label for="id">Id</label>
            <input type="text" name="id" id="id"> 
            <button class="btn btn-danger mt-3" type="submit">Delete Product</button>
        </form>
    </div>
</div>

<div id="products" class="d-flex flex-row justify-content-center">
</div>