<h1>login</h1>
<div>
    <form method="post" action="/api/sessions/login">
        <input type="text" placeholder="correo" name="email"/>
        <br/>
        <input type="password" placeholder="password" name="password"/>
        <br/>
        <button type="submit">login</button>
    </form>
    <form action="/api/sessions/github" method="get">
        <button type="submit">login whit github</button>
    </form>
</div>